{% extends "partials/base.html" %}
{%block text%}
            <h2>INTRODUCTION</h2>
             <p> When you walk towards an Automated Teller Machine (ATM), one of the first persons you see is a 'security guard'. A security guard', generally, sits outside the ATM booth and regulates entry to the booth. He prevents illegal activity, theft and vandalism in the ATM booth. The security guard does a variety of jobs, including assisting people, who face problems in using an ATM card. A security guard at the ATM booth, therefore, is a link between a bank and its customers. lish

Let us now try to understand the meaning of the word 'security'. 'Security' is derived from the Latin word securas, which means free from danger' or 'safe'. Thus, security can be defined as freedom from exposure to danger; a feeling of safety and certainty; freedom from anxiety; a means of protection or arrangement to secure (safeguard) a property against theft, intrusion, pilferage or damage; and rendering living beings safe.

                 In a rapidly changing social and technological environment, understanding security aspects and actions is important for improving security. The basic objective of providing security is to prevent crime against persons, property and proprietary information. Security provides a safe and danger-free environment, so that people can conduct their daily chores and businesses without fear.</p>
<img src="{{ url_for('static',filename='img/img.png') }}">
<p> This programme is designed to provide a basic understanding of what security management is and the basic components of what security management provides. What follows therefore is an understanding of:
<li>The Role of Security Management – where we explain the central functions of security within a business, what experts are needed and how to get the most efficient protection</li>
<li>The Basic Security Management Organisation Structure – where we explain how a centralised security management organisation can best support the business and their internal and external customers</li>
<li>Basic Physical Security Protection – where we provide information and examples of the function of physical security protection and the key physical barriers and technical systems used within a modern business</li>
<li>Basic Information Security – where we explain the importance of protecting business sensitive information, employee information and customer data as required by laws and good practice</li>
<li>Security Basic Cyber – where we explain the importance to prevent the unauthorised use of IT based systems</li>
<li>Basic Business Resilience and Crisis Management – where the separate but linked functions of resilience and crisis management are explained</li>
<li>Basic Fraud Prevention – where we explain the threat from fraud, corruption and counterfeiting, which is a growing problem for business markets across the world, causing brand damage and financial losses</li>
<li>Basic Investigations – where we give examples of the types of investigations conducted within a business to establish evidence of criminal activity, or wrongdoing</li>
<li>Executive and Employee Protection – where examples are given of the role of close protection operatives employed to protect employees and critical assets</li>
<li>Security Threat Awareness – where we provide examples of the range of common threats faced by a business today and explain the importance of threat assessments to keep the threat mitigation to a sensible level</li>
<li>Security Risk Awareness and Risk Reduction – where we explain the need for professional and certified risk assessment processes. This is particularly important for the employment of people in areas of high risk</li>
<li>Convergent Security – where we explain the importance of modern security convergence needed to successfully support the modern business
 
<li>Objectives of Information Security Management:-</li>
<li>According to the business requirement and relevant rules, there are three security objectives or aims to provide management support and guidance for information security. The CIA trio is a set of three security controls for protecting information at the organizational level, which are outlined below:-</li>
<li>Confidentiality :-</li>
The term "confidentiality" or "privacy" refers to the fact that certain protected information is only accessible to authorized people. Only these people are allowed to retrieve or edit data, according to the information security management system's security measures. The security team categorizes data based on perceived risk and evaluates the data's potential impact if it is compromised. Additional privacy safeguards are in place for high-risk data.
<li>Integrity:-</li>
Data integrity is managed by the information security management system, which implements rules to assure the accuracy and consistency of stored data throughout its lifecycle. User access controls, version controls, and checksums all help to ensure data integrity.
<li>Availability:-</li>>
The ISM team takes the necessary precautions to guarantee that data is only available to authorized persons at all times. If a cyber-attack happens, standard InfoSec procedures are followed. Proper hardware maintenance, patch installation and upgrading, disaster recovery protocols implementation, and incident response are among them.



{%endblock%}